<!DOCTYPE html>
<html lang="en">
<head>
    <title>MEAN CRUD Sample</title>
    <!-- CSS Libraries -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- JavaScript Libraries -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="app" ng-controller="appController">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div ng-if="!showEdit">
                <br/>
                <br/>
                <input type="text" class="form-control" ng-model="name.first" placeholder="Name...">
                <br/>
                <input type="text" class="form-control" ng-model="name.last" placeholder="Contact...">
                <br/>
                <input type="button" class="btn btn-default" ng-click="save(name)" value="Save">
                <br/>
                <br/>
            </div>
            <div ng-if="showEdit">
                <br/>
                <br/>
                <input type="text" class="form-control" ng-model="editname.first">
                <br/>
                <input type="text" class="form-control" ng-model="editname.last">
                <br/>
                <input type="button" class="btn btn-default" value="update" ng-click="edit(editname)">
                <br/>
                <br/>
            </div>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Options</th>
                </tr>
                <tr ng-repeat="name in list">
                    <td>
                        {{name._id}}
                    </td>
                    <td>
                        {{name.name}}
                    </td>
                    <td>
                        {{name.contact}}
                    </td>
                    <td>
                        <input type="button" class="btn btn-info btn-xs" value="edit"
                               ng-if="!showEdit"
                               ng-click="enableEdit(name)">
                        <input type="button" class="btn btn-danger btn-xs" value="delete" ng-click="delete(name)">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
